DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/nome_do_banco
SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
API_PIXABAY_URL=https://pixabay.com/api/
API_PIXABAY_KEY=your_pixabay_api_key
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3