@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-cinza-claro: #ececec;
  --color-azul: #214a5a; 
  --color-coral: #eb7561;
  --color-laranja: #eeb37f;
  --color-laranja-claro: #f0c6a1;
  --color-bege: #f5e6d3;
  --color-branco: #ffffff;
  --color-misteriosa: #e85d75;
  --font-sans: InterVariable, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}